<%= form_with(model: enrolment, local: true) do |form| %>
  <% if enrolment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(enrolment.errors.count, "error") %> prohibited this enrolment from being saved:</h2>

      <ul>
        <% enrolment.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field mb-3">
    <%= form.label :number, class: 'form-label' %>
    <%= form.text_field :number, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :date, class: 'form-label' %>
    <%= form.datetime_select :date, class: 'form-control' %>
  </div>

  <div class="field mb-3">
    <%= form.label :student, class: 'form-label' %>
    <%= form.collection_select :student_id, Student.order(:name),:id,:name, include_blank: true %>
  </div>

  <div class="field mb-3">
    <%= form.label :course, class: 'form-label' %>
    <%= form.collection_select :course_id, Course.order(:name),:id,:name, include_blank: true %>
  </div>

  <div class="field mb-3">
    <%= form.label :batch, class: 'form-label' %>
    <%= form.collection_select :batch_id, Batch.order(:name),:id,:name, include_blank: true %>
  </div>

  <div class="actions mb-3">
    <%= form.submit %>
  </div>
<% end %>
