<p id="notice"><%= notice %></p>

<h1>Enrolments</h1>

<table class="table table-success table-striped table-hover">
  <thead>
    <tr>
      <th>Number</th>
      <th>Date</th>
      <th>Student</th>
      <th>Course</th>
      <th>Batch</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @enrolments.each do |enrolment| %>
      <tr>
        <td><%= enrolment.number %></td>
        <td><%= enrolment.date %></td>
        <td><%= enrolment.student.name %></td>
        <td><%= enrolment.course.name %></td>
        <td><%= enrolment.batch.name %></td>
        <td><%= link_to 'Show', enrolment %></td>
        <td><%= link_to 'Edit', edit_enrolment_path(enrolment) %></td>
        <td><%= button_to 'Destroy', enrolment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Enrolment', new_enrolment_path, class: 'btn btn-secondary' %>
